header, section, footer, aside, nav, main, article, figure {
    display: block;
}
body {
    /* background-color: black; */
    /* font-family: Arial, Helvetica, sans-serif; */
}
.wrapper {
  overflow-x: hidden;
}
.mainColor {
    color: #ffa500;
}
.menuColor {
    color: #fff;
}
header {
    background-color: #333639;
    width: 100vw;
    font-size: 2em;
}
#menuBtn {
    color: #d9d9d9;
    right: 0;
}
#menuBtn:hover {
    color: #ffa500;
    cursor: pointer;
}
#slideMenu {
    /* position: relative; */
    /* width: 100vw; */
    background-color: #000;
}
#slideMenu a {
    text-decoration: none;
}
#slideMenu a:hover {
    color: #ffa500;
    cursor: pointer;
}
.menuItem {
    /* display: none; */
}
#showcase {
    background-image: url("../images/macPic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* background-attachment: fixed; */
}
#overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}
#introText {
    position: relative;
    width: 60vw;
    text-align: center;
    padding-top: 25%;
    margin: auto;
    color: #fff;
    font-size: 2em;
}
#big {
    font-size: 5em;
}
#about {
    /* position: relative; */
    width: 60vw;
    text-align: left;
    margin: auto;
    padding: 32px 0px 32px 0px;
    /* padding: 25px, 50px, 75px 100px; */
    /* padding: 25px 50px 75px 100px; */
}
#about h2 {
    text-align: center;
}
footer {
    /* text-align: center; */
    background-color: #000;
    color: #fff;
}