header,
section,
footer,
aside,
nav,
main,
article,
figure {
	display: block;
}
// $mainColor: #ffa500;
$mainColor: #4bb051;

body {
	/* background-color: black; */
	font-family: Arial, Helvetica, sans-serif;
	// max-width: 1440px;
	// margin: auto !important;
}
.wrapper {
	overflow-x: hidden;
}
header {
	background-color: #333639;
}
.mainColor {
	color: $mainColor;
}
.menuColor {
	color: #fff;
}
nav {
	text-align: center;
	@media only screen and (min-width: 601px) {
		text-align: left;
		display: flex !important;
	}
}
nav > div:nth-child(3) {
	align-self: center !important;
}
.nav-item {
	padding: 0 5px;
}
.nav-item:hover {
	color: $mainColor;
	cursor: pointer;
}
#showcase {
	min-height: 50vh;
	height: 100%;
	background-image: url("../images/macPic2.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	// background-attachment: fixed;
}
#showcase div {
	width: 70%;
}
#overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	/* min-height: calc(100vh - 111px); */
	height: 90vh;
	background-color: #000;
	opacity: 0.3;
}
#big {
	font-size: 5em;
}
#about {
	width: 60vw;
	margin: auto;
	text-align: left;
	padding: 32px 0px;
}
#about h2 {
	text-align: center;
}
#work {
	width: 100vw;
	background-color: #f5f5f5;
}
#work h2 {
	text-align: center;
	padding-bottom: 32px;
}
/* container */
#work > div {
	width: 60%;
	margin: auto;
	padding: 32px 0px;
}
#work .w3-row {
	border-left: 1px solid #333;
	margin-bottom: 32px;
}
.workItem:nth-child(1) {
	text-align: center;
	font-size: 1.4em;
}
.workItem:nth-child(2) {
	height: 20vw;
}
.textOverlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #009999;
	color: #fff;
}
#testimonials {
	position: relative;
	width: 80vw;
	margin: auto;
	padding: 32px 0px;
}
#testimonials h2 {
	text-align: center;
	padding-bottom: 32px;
}
#testimonials .w3-row-padding {
	column-count: 3;
	/* min-height: calc(100vh / 3); */
}
#testimonials .w3-padding-large {
	/* position: relative; */
	/* display: block; */
	text-align: center;
	break-inside: avoid;
	/* box-sizing: border-box; */
}
#testimonials img {
	width: 80px;
}
#testimonials p {
	text-align: left;
}
#contact {
	background-color: #f5f5f5;
}
#contact h2 {
	text-align: center;
	padding-bottom: 32px;
}
/* container */
#contact > div {
	width: 60vw;
	margin: auto;
	padding: 32px 0px;
}
.form {
	/* padding: 24px; */
}
.form * {
	display: block;
	padding: 12px;
}
.form span {
	display: inline;
}
.input {
	width: 100%;
}
input[type="submit"] {
	margin-top: 12px;
	background-color: $mainColor;
	color: #fff;
}
input[type="submit"]:hover {
	cursor: pointer;
	background-color: #ffb833;
}
.error {
	color: red;
}
footer {
	background-color: #000;
	color: #fff;
	line-height: 2em;
}
.wifiby {
	background-image: url("../images/wifiby.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.brandon {
	background-image: url("../images/brandonMyers.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (max-width: 640px) {
	#work .w3-row {
		border-left: none;
		border-top: 1px solid #333;
	}
	#testimonials .w3-row-padding {
		column-count: 1;
	}
	.workItem:nth-child(2) {
		height: 30vw;
	}
}
@media only screen and (max-width: 768px) {
	#testimonials .w3-row-padding {
		column-count: 2;
	}
	.workItem:nth-child(1) {
		/* text-align: center; */
	}
}
@media only screen and (max-width: 1024px) {
}
